//===== User:
$white         : #fff
$black         : #000
$accent        : #ff9f1a
$body-miw      : 320
$container-maw : 1140
$s-padd        : 50
$z-index       : 1000

// Breakpoints:
$bp-xs : 0
$bp-sm : 576
$bp-md : 768
$bp-lg : 992
$bp-xl : 1200
$bp-xxl: 1400


//===== Bootstrap:
$font-family-base: 'Roboto', sans-serif
$font-size-base  : 1rem
$font-weight-base: 400
$line-height-base: 1.5
$body-color      : #333
$body-bg         : $white
$primary         : #0d6efd
$secondary       : #6c757d
$link-color      : $body-color
$link-decoration : none


//===== Hamburgers:
$hamburger-padding-x           : 0
$hamburger-padding-y           : 0
$hamburger-layer-color         : $accent
$hamburger-hover-opacity       : 1
$hamburger-active-layer-color  : $accent


//===== Owl Carousel theme:

// owl-nav:
$nav-margin          : 0
$nav-background-hover: $accent

// owl-dots:
$dot-width            : 15px
$dot-height           : 15px
$dot-margin           : 0
$dot-background       : #dde0e4
$dot-background-active:	$accent
